<div class="container">
  <div class="text-center">
    <h4>雪山子について</h4>
    <p>行きたいスキー場を検索したり、自分が行った際の写真を投稿したりきるレビューサイトです</p>
    <p>気軽にスキー場のレビューを行うことができ、コメントやいいねなどもできます。</p>
    <p>レビューを見て気になったスキー場に足を運んでもらえたら幸いです</p>
    
    <%= link_to root_path do %>
      <%= image_tag 'logo.png', :size => '200x200' %>
    <% end %>
  </div>
</div>