@use '~bootstrap/scss/bootstrap';

.swpeImg {
  width: 100% !important;
  height: 600px !important;
}
.main-container {
  background-image: url('/snow.jpg');
  background-size: cover;
  height: 600px;
}
