@use '~bootstrap/scss/bootstrap';

//top 画面のcss
.c-bnr {
  background-image: url("/snow.jpg");
  background-size: cover;
  height: 750px;
}

.c-bnr.bg {
  position: relative;
  overflow: hidden;
}
.c-bnr.bg::before,
.c-bnr.bg::after {
  content: "";
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  margin: auto;
  transition: .3s cubic-bezier(0.45, 0, 0.55, 1);
  opacity: 0;
}
.c-bnr.bg::before {
  background: rgba(224, 255, 255, .6);
  width: 100%;
  height: 100%;
}
.c-bnr.bg::after {
  color: #fff;
  content: "ようこそ雪山子へ";
  font-size: 50px;
  font-weight: bold;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  bottom: 0;
  right: 0;
}

.c-bnr.bg:hover::before,
.c-bnr.bg:hover::after {
  opacity: 1;
}

//ヘッダーのボタン
.c-btn.press {
  box-shadow: 0 4px 0 #C0C0C0; // ボタンの影
}
.c-btn.press:hover {
  transform: translateY(4px);
  box-shadow: none;
}

//ソート機能ボタン
.c-btns {
  background: #000000;
  border: 2px solid #000000;
  border-radius: 60px;
  color: #fff;
  display: block;
  font-weight: bold;
  max-width: 300px;
  padding: 15px 40px;
  text-align: center;
}

.c-btns.press {
  box-shadow: 0 4px 0 #C0C0C0; // ボタンの影
}
.c-btns.press:hover {
  transform: translateY(4px);
  box-shadow: none;
}

.link {
  color: #ffffff;
}


//swiperのcss
.swiper-container {
  position: relative;
  overflow: hidden;
  padding: 20px 0;
  height: 40vw;
  max-height: 300px; //最大の高さ
  min-height: 300px; //最小の高さ

  .swiper-slide {
    text-align: center;
    line-height: 1;
    display: flex;
    align-items: flex-start; //画像の高さを統一させない
    justify-content: center; //左右の中央揃え

    img {
      display: inline; //念のため
      width: auto; //念のため
      max-width: 100%;
      max-height: 100%;
      align-self: center; //上下の中央揃え
    }
  }
}

html {
  position: relative;
  min-height: 100%;
}