<table class="border border-dark mx-auto mt-3 w-100">
  <tr class="border-bottom border-dark text-center">
    <th>都道府県検索</th>
  </tr>
    <% prefectures.each do |prefecture| %>
    <tr>
      <td class="text-left pl-3 py-1">
        <%= link_to(prefecture_path(prefecture.id), class:"text-dark") do %>
          <%= prefecture.name %>
        <% end %>
      </td>
    </tr>
    <% end %>
    <tr>
      <td class="pb-5"><p></p></td>
    </tr>
</table>